<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="myCS" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\User\OneDrive - Asia Pacific University\IOOP\IOOP ASSIGNMENT\ADMIN PAGE\ADMIN PAGE\myDB.mdf";Integrated Security=True'
        providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>